.topheader {
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 50px;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

html, body {
    height: 100%;
}

body {
    top: 0 !important;
}


#dropDown {
    list-style-type: none;
    position: absolute;
    font-weight: 500;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #4ca4bf;
    border: solid 1.5px #4ca4bf;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
    width: 20vw;
    z-index: 99999999;
    top: 20vh;

}


#dropDown li:hover {
    transition-duration: 500ms;
    cursor: pointer;
    background-color: #4ca4bf;
    z-index: 9999999;
    color: white;
}

#dropDown li {
    padding: 0.25rem 0;
    background-color: inherit;
    z-index: 9999999;
}
::-webkit-scrollbar {
    width: 0.5rem;
    color:#2c2d2c;
}

::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}


h1, .audioHeader{
font-size: 2rem;
font-weight: 700;
}

.footer {
font-weight: lighter;
font-family: monospace; 
}

p {
line-height: 1.35;
width: 100ch;
}

img {
max-width: 100%;
margin: 0;
}

a {
    transition-duration: 500ms;
}

.mainLeftLink, .mainRightLink{
    text-align:center;
    border-radius: 1rem;
    background-color:black;
    text-decoration: none;
    color: #fff;
}

.mainLeftLink, .mainRightLink {
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    border-top: 10px solid whitesmoke;
    border-bottom: 10px solid whitesmoke;
}

.mainRightLink {
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

.mainLeftLink {
    background-position: center;
    background-size: cover;
    font-weight: 500;
}

#employment {
    background-image: url(images/work.png);
}

#english {
    background-image: url(images/english.png);
}

#food {
    background-image: url(images/food.png);
}

#worship {
    background-image: url(images/mosque.jpg);
}

#financial {
    background-image: url(images/financial.png);
}

#family {
    background-image: url(images/people.png);
}
 #women {
    background-image: url(images/women.png);
 }

 #socialServices {
    background-image: url(images/heart.jpg);
 }

 #youth {
    background-image: url(images/youth.png);
 }
.mainLeftLink.one{
    grid-row-start: 1;
    grid-row-end: 4;
}

.mainRightLink.one {
    grid-row-start: 1;
    grid-row-end: 3;
}

.mainLeftLink.two {
    grid-row-start: 4;
    grid-row-end: 7;
}

.mainRightLink.two {
    grid-row-start: 3;
    grid-row-end: 5;
}

.mainLeftLink.three {
    grid-row-start: 7;
    grid-row-end: 10;
}

.mainRightLink.three {
    grid-row-start: 5;
    grid-row-end: 7;
}

.mainRightLink.four {
    grid-row-start: 7;
    grid-row-end: 9;
}
.mainContainer {
    display: grid;
    grid-auto-rows: minmax(7vw, auto);
    grid-template-columns: 1fr 1fr 1fr;
    border: 20px solid whitesmoke;
}

.mapContainerLeft {
    display: grid;
    grid-auto-rows: 5.05vh;
    grid-auto-columns: 2.6vw;
    max-height: 89.9vh;
    max-width:fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mapContainerRight {
    display: grid;
    max-width:fit-content;
    grid-auto-rows: 5vh;
    grid-auto-columns: 2.87vw;
    max-height: 89.9vh;
    overflow-y:hidden;
}

.map a {
    color: black;
    text-decoration: none;
}

.mapContainerLeft table tr td, .mapContainerLeft table tr td time{
    font-size: 1rem;
}

.mapContainerRight .map,  .mapContainerRight .map a{
    background-color: white;
    color: #4ca4bf;
    font-weight: 600;
    border-color: #4ca4bf;
}
.mapContainerRight .map:hover,  .mapContainerRight .map:hover a  {
    background-color: #4ca4bf;
    transition-duration: 500ms;
    color: #fdfdfd;
    font-weight: 600;
}

.fa-solid {
    font-size: 4.25rem;
    margin-left: 2rem;
    text-align: center;
    color: black;
}

#toggle {
    grid-row: 1/3;
    grid-column: 1/8;
}

#category, #more {
    display:flex;
    align-items: center;
    width: 20.09vw;
    height: 10.18vh;
    justify-content: center;        
}
#category {
    grid-row: 1/3;
    grid-column: 8/15;
}
#more {
    grid-row: 1/3;
    grid-column: 15/22;
}

#mapDiv, #list {
    grid-row: 3/19;
    grid-column: 1/22;
    position: relative;
    z-index: 999999;
    background-color: whitesmoke;
}

#mapDiv {
    z-index: 1000000;
}
.mapContainer {
    padding-top: 3vh;
    display: grid;
    grid-auto-flow: column;
}

.map {
    border: solid 0.1rem #4ca4bf;
    background-color: whitesmoke;
}

.mapContainerLeft .map * {
    margin-left: 0.25rem;
}

#image {
    grid-row: 1/10;
    grid-column: 1/16;
}   

#name {
    grid-row: 10/13;
    grid-column: 1/16;
    font-size: 1.25rem;
    font-weight: 500;
}

#website {
    grid-row: 13/17;
    grid-column: 1/6;
}

#phone {
    grid-row: 13/17;
    grid-column: 6/11;
}

#directions {
    grid-row: 13/17;
    grid-column: 11/16;
}

#website, #phone, #directions {
    background-color: rgb(255, 255, 255);
}


#website:hover, #phone:hover, #directions:hover {
    background-color: whitesmoke;
}

#description {
    grid-row: 17/23;
    grid-column: 1/16;
}

#events {
    grid-row: 23/40;
    grid-column: 1/16;
}

#address {
    font-size: 0.9rem;
    text-indent: inherit;
    font-weight: 400;
}
.addLeft {
    border-left: 0.4rem #4ca4bf;
}

.addRight {
    border-right: 0.4rem #4ca4bf;
}

.addBottom {
    border-bottom: 0.4rem #4ca4bf;
}

.mainLeftLink:hover, .mainRightLink:hover, td a.card:hover{
    transition-duration: 500ms;
    opacity: .8;
}

.audio {
    margin:2rem;
    display: inline-block;
}

 .guide {
    margin-top: 1.5rem;
    width: 30vw;
}

img.guide {
    width: 20vw;
}

caption, #description span{
    text-align: left;
    font-weight: 500;
}

#description div  {
    font-size: 0.9rem;
}
p.guide{
    font-size: 1rem;
}



  .block{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.7rem;
    height: 500px;
    border-radius: 15px;
    border: solid #4ca4bf;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  form.block {
    display: inline-block;
    padding: 1.5rem;
  }

  button[type="submit"] {
    background-color: #2c2d2c;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    border: 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  }

form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

label, select {
    font-size: 1.1rem;
}

summary.guide, div.guide {
    margin:0;
    float:left;
} 

td.lcard {
    vertical-align: top;
    width: 35vw;
    display: flexbox;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

td a.card, #homeMapLink {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    overflow: hidden;
}
td.guide {
    display: flexbox;
    vertical-align: top;
    padding-left: 2rem;
    flex-wrap: wrap;
}

a.card {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    width: 20vw;
    height: 13vw;
    background-color:#4ca4bf;
    margin:20px;
}

.initial {
    padding-top: 5vh;
}

summary.guide {
    background-color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
    z-index: 2;
    position: relative;
    color: #4ca4bf;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border: 1.5px solid;
    border-radius: 20px;
    width: 60vw;
    padding-left: 5vw;
}

.invisible {
    color:white;
    font-size: 2rem;
}

.categories {
    border-radius: 10px;
    text-align: center;
    fill: black;
}

#homeMapLink {
    background-color: #2c2d2c;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin: auto;
    width: 50%;
}


summary.guide:hover, #homeMapLink:hover, button:hover, .usefulinks:hover {
    background-color: #4ca4bf;
    transition-duration: 500ms;
    color: white;
    border: solid 1.5px #4ca4bf;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #4ca4bf;
    z-index: 99999999;
  }

nav .navLink {
    color: #ffffff;
    background-color: #4ca4bf;
    text-decoration: none;
    padding: 0.25rem 1rem;
    margin-right: 0px;
    margin-left: 0;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    z-index: 99999999;
    float: right;
    
  }

nav .navLink:hover {
    background-color: #ffffff;
    -webkit-text-fill-color: #4ca4bf;
    transition-duration: 500ms;
    margin: 7px;
  }

.left {
    display: flex;
    align-items: center;
  }

.right {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

.content {
    margin-top: 60px;
  }

  .toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 10vh;
    background-color: #4ca4bf;
    -webkit-text-fill-color: white;
    cursor: pointer;
  }
  
  .toggle-container .toggle-half {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
  }
  
  .toggle-container .toggle-off {
    background-color: #ffffff;
    color: #4ca4bf;
  }
  
  .toggle-container .toggle-on {
    background-color: #4ca4bf;
    color: white;
    
  }

.usefulinks {
    display:flex;
    max-width: 30vw;
    background: #4ca4bf;
    -webkit-text-fill-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    text-decoration:none;
    
}


main {
    padding-top: 6.6vh;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    border-radius: 15px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    border: solid #4ca4bf;
}

.card-header {
    background-color: #ffffff;
    padding: 10px;
    font-size: 30px;
    -webkit-text-fill-color: #4ca4bf;
    border-radius: 15px;
}

.card2:hover {
    margin: 15px;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#embedListContainer {
    z-index: 999999;
    position: absolute;

    color: black;
    background-color: white;
    list-style-type: none;
    display: inline-block;
    overflow-y: scroll;
}

.embedListItem {
    margin: 0.75rem;
    padding: 0.1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: solid 1.75px #4ca4bf;
    font-weight: normal;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: max-content;
    overflow: hidden;

}

.embedListParameter {
    color: black;
    font-size: 1.05rem;
    display: inline;
    max-width: 30vw;
    line-height: 150%;
}


.card-text {
    width: 550px;
    padding: 5px;
    word-wrap: break-word;
    margin: 0 auto;
}
iframe{
    width: 100%;
    border: 2px solid #ccc;
}

.featuredescription {
    width: auto;
    margin: auto;
    max-width: 50%;
    padding: 20px;
    text-align: center;
}

.featureheader {
    text-align: center;
    padding-top: 75px;
}

.professionalinks {
    margin: 10px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    -webkit-text-fill-color:#4ca4bf;
    outline: solid 1.5px #4ca4bf;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

.professionalinks:hover {
    background-color:#4ca4bf;
    -webkit-text-fill-color: white;
}

.professionalflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: auto;
    max-width: 50%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4ca4bf;
    z-index: 10;
  }

.doctorheader {
    
    margin-top: 50px;
    text-align: center;
}


#parameter1 {
    font-size: 1.2rem;
    font-weight: 500;
    float: left;

}

#parameter2 {
    float: right;
    text-align: right;
}
#parameter3 {
    display: flex;
    float: left;
    max-width: 50%;
}
#parameter4 {
    float: right;
    text-align: right;
}

.search-container {
    position: relative;
    width: 500px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #4ca4bf;
    -webkit-text-fill-color: black;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .search-container input[type="text"] {
    width: 90%;
    height: 100%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .search-container .search-icon {
    position: absolute;
    top: 0;
    right: -25px;
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 25px 25px 0;
    border: 2px solid #4ca4bf;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon {
    background-color: #4ca4bf;
    color: white;
  }
  
  .search-container {
    border-color: #4ca4bf;
    background-color: #4ca4bf;
    color: white;
  }
  
  .search-container:hover input[type="text"] {
    -webkit-text-fill-color: white;
    transition-duration: 500ms;
    background-color: #4ca4bf;
  }
  
  .search-container:hover .search-icon {
    background-color: #4ca4bf;
    color: #ffffff;
  }

  
  .map-button2 {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 150px;
    font-weight: bold;
    margin-top: 20px;
    color: #4ca4bf;
    -webkit-text-fill-color: #4ca4bf;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #4ca4bf;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: solid #4ca4bf;
  }
  
  .map-button2:hover {
    background-color: #4ca4bf;
    -webkit-text-fill-color: #4ca4bf;
    color: #ffffff;
    border: solid #4ca4bf;
  }
  
  .map-button a {
    color: white;
  }
  
  .map-button:hover {
    background-color: white;
    color: #4ca4bf;
  }
  
  .map-button {
    background-color: #4ca4bf;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0;
    cursor: pointer;
  }
  
  .map-button a {
    color: white;
  }
  
  .map-button:hover {
    background-color: white;
    color: #4ca4bf;
    padding: 8px;
}
  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
  }
nav div a i.fa-solid {
        color: white;
        font-size: 1.75rem;
        margin-left: 0;
    }
  
#list {
    overflow: scroll;
}

#categoryHeading {
    padding: 7rem;
    background-image: url(images/noCatBanner.png);
    color: #fff;
    text-shadow: 1rem, rgb(0, 0, 0, 0.5);
    background-size: cover;
}

#categoryHeading h2 {
    font-size: 2rem;
}

.carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    height: 45vh;
    white-space: nowrap;
}

.carousel li, .carousel a{
    height: 37vh;
    width: 22vw;
    display: inline-block;
    margin: 0.75rem 0.9rem;
    padding: 0.5rem;
    white-space: normal;
    list-style-type: none;
    flex-shrink: 0;
    outline: #4ca4bf 0.2rem solid;
    color: #4ca4bf;
    background-color: whitesmoke;
    box-shadow: rgb(76, 164, 191, 0.75) 0.75rem 0.5rem ;
    border-radius: 0.75rem;
    
}

.carousel li:hover, .carousel li:active, .carousel a:hover, .carousel a:active {
    color: white;
    background-color: #4ca4bf;
    margin-top: 0.25rem;
    margin-left: 0.6rem;
    box-shadow: none;
    transition-duration: 750ms;
}

.secondaryHeader {
    margin: 0.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    display: inline;
}

#pop {
    display: flex;
    height: 100%;
    width: 75vw;
    z-index: 100000000000000000000000;
    position:fixed;
    overflow-y: scroll;
    font-size: 1.1rem;
    top: 0vh;
    padding: 0.5rem;
    background-color: whitesmoke;
}

#pop i {
    font-size: 2.5rem;
    margin: 0;
    padding: 0.75rem;
}

#pop div {
    padding: 0.5rem;
    width: 60vw;
}


div div#category,  div div#category div.map #dropDown{
    float: right;
    top: 49vh;
}

#categoryHeading h2 {
    display:inline;
    width: 10vw;
}

#category.catFilter {
    background-color: #4ca4bf;
    color: whitesmoke;
    width: fit-content;
    font-weight: 600;
    border-radius: 1rem;
    padding: 2rem 3.5rem;
    margin-top: 2.5rem;
    transition-duration: 750ms;
    box-shadow: rgba(0, 0, 0, 0.4) 0.2rem 0.3rem;
}

#category.catFilter:hover {
    background-color: whitesmoke;
    transition-duration: 750ms;
    color: #4ca4bf;
}

#catName {
    background-image: radial-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0));
    padding: 0.5rem;
}

#nameContent {
    font-weight:650;
    font-size: 1.4rem;
}

#descriptionContent, .linkDescriptionContent {
    font-size: 1.1rem;
}
.linkContent {
    font-weight: 500;
}

.linkContent, .favImage {
    display: inline-block !important;
}

.linkDescriptionContent {
    font-weight: 400;
    font-size: 1rem;
}

.parentContent {
    color: #4ca4bf;
    border: #4ca4bf solid 0.15rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: #4ca4bf 0.75rem 0.4rem;
    text-decoration: none;
    display: flex !important;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.parentContent:hover {
    color: white;
    background-color: #4ca4bf;
    box-shadow:none;
    margin-top: 1rem;
    margin-left: 0.25rem;
}

#\:2\.container {
    display: none !important;
  } 
#google_translate_element {
    z-index: 99999999999999999999999;
    all:revert;
}

main {
    padding-top: 7vh;
}


.refugeepalheader {
    color: white;
    font-size: 32px;
    margin-top: 0 !important;
    padding: 0.25rem;
    font-weight: bold;
}

.refugeepalbanner {
    padding-top: 3vh;
    height: 340px;
    width: 100%;
}

.catDropDown {
    top: 47.5vh !important;
    z-index: 1 !important;
}

.card {
    height: 25vh;
    width: 20vw;
    margin: 0.5rem !important;
    margin-top: -1rem !important;
    color: white;
    border: 0.1rem #4ca4bf solid;
    background-color: #4ca4bf;
    border-radius: 1.2rem;
    transition-duration: 750ms;
    font-weight: 600;
    text-align: center;
    padding: 1.5rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
}

.card:hover {
    color:#4ca4bf;
    background-color: white;
    border: 0.1rem #4ca4bf solid;
    transition-duration: 750ms;
}

a {
    text-decoration: none;
}