.topheader {
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 50px;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

html, body {
    height: 100%;
}

#dropDown {
    list-style-type: none;
    position: absolute;
    text-align: center;
    background-color: gray;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
    width: 18vw;
    z-index: 99999999;
    top: calc(10vh + 50px);
}

#dropDown li:hover {
    background-color: black;
    z-index: 99999999;
}

#dropDown li {
    padding: 0.25rem 0;
    background-color: inherit;
    z-index: 99999999;
}

::-webkit-scrollbar {
    width: 0.5rem;
    color: #2c2d2c;
}

::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}


h1, .audioHeader {
    font-size: 2rem;
    font-weight: 700;
}

.footer {
    font-weight: lighter;
    font-family: monospace;
}

p {
    line-height: 1.35;
    width: 100ch;
}

img {
    max-width: 100%;
    margin: 0;
}

a {
    transition-duration: 500ms;
}

.mainLeftLink, .mainRightLink {
    text-align: center;
    border-radius: 1rem;
    background-color: black;
    text-decoration: none;
    color: #fff;
}

.mainLeftLink, .mainRightLink {
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
    border-top: 10px solid whitesmoke;
    border-bottom: 10px solid whitesmoke;
}

.mainRightLink {
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

.mainLeftLink {
    background-position: center;
    background-size: cover;
    font-weight: 500;
}

#employment {
    background-image: url(images/employment.png);
}

#english {
    background-image: url(images/english.jpg);
}

#food {
    background-image: url(images/food.jpg);
}

#worship {
    background-image: url(images/mosque.jpg);
}

#socialServices {
    background-image: url(images/socialService.jpg);
}

#programs {
    background-image: url(images/people.png);
}

.mainLeftLink.one {
    grid-row-start: 1;
    grid-row-end: 4;
}

.mainRightLink.one {
    grid-row-start: 1;
    grid-row-end: 3;
}

.mainLeftLink.two {
    grid-row-start: 4;
    grid-row-end: 7;
}

.mainRightLink.two {
    grid-row-start: 3;
    grid-row-end: 5;
}

.mainLeftLink.three {
    grid-row-start: 7;
    grid-row-end: 10;
}

.mainRightLink.three {
    grid-row-start: 5;
    grid-row-end: 7;
}

.mainRightLink.four {
    grid-row-start: 7;
    grid-row-end: 9;
}

.mainContainer {
    display: grid;
    grid-auto-rows: minmax(6vw, auto);
    grid-template-columns: 1fr 1fr 1fr 1.3fr;
    border: 20px solid whitesmoke;
}

.mapContainerLeft {
    display: grid;
    grid-auto-rows: 5vh;
    grid-auto-columns: 2.6vw;
    max-height: 91vh;
    max-width: fit-content;
    overflow-y: scroll;
}

.mapContainerRight {
    display: grid;
    max-width: fit-content;
    grid-auto-rows: 5.09vh;
    grid-auto-columns: 2.87vw;
    max-height: 91vh;
}

.map a {
    color: black;
    text-decoration: none;
}

.mapContainerLeft table tr td, .mapContainerLeft table tr td time {
    font-size: 1rem;
}

.mapContainerRight .map, .mapContainerRight .map a {
    background-color: grey;
    color: #fff;
}

.fa-solid {
    font-size: 4.25rem;
    margin-left: 2rem;
    text-align: center;
    color: black;
}

#toggle {
    grid-row: 1/3;
    grid-column: 1/8;
}

#category, #more {
    display: flex;
    align-items: center;
    width: 20.09vw;
    height: 10.18vh;
    justify-content: center;
}

#category {
    grid-row: 1/3;
    grid-column: 8/15;
}

#more {
    grid-row: 1/3;
    grid-column: 15/22;
}

#embed {
    grid-row: 3/19;
    grid-column: 1/22;
    position: relative;
    z-index: 1;
}

.mapContainer {
    display: grid;
    grid-auto-flow: column;
}

.map {
    border: 0.15rem black solid;
    background-color: whitesmoke;
}

.mapContainerLeft .map * {
    margin-left: 0.25rem;
}

#image {
    grid-row: 1/10;
    grid-column: 1/16;
    background-image: url(images/muslimfoodbank.png);
}

#name {
    grid-row: 10/13;
    grid-column: 1/16;
    font-size: 1.25rem;
    font-weight: 500;
}

#website {
    grid-row: 13/17;
    grid-column: 1/6;
}

#phone {
    grid-row: 13/17;
    grid-column: 6/11;
}

#directions {
    grid-row: 13/17;
    grid-column: 11/16;
}

#website, #phone, #directions {
    background-color: gainsboro;
}

#website:hover, #phone:hover, #directions:hover {
    background-color: whitesmoke;
}
#hours {
    grid-row: 17/28;
    grid-column: 1/7;
}

#description {
    grid-row: 17/28;
    grid-column: 7/16;
}

#events {
    grid-row: 28/45;
    grid-column: 1/16;
}

#address {
    font-size: 0.9rem;
    text-indent: inherit;
    font-weight: 400;
}

.addLeft {
    border-left: 0.4rem black solid;
}

.addRight {
    border-right: 0.4rem black solid;
}

.addBottom {
    border-bottom: 0.4rem black solid;
}

.mainLeftLink:hover, .mainRightLink:hover, td a.card:hover {
    transition-duration: 500ms;
    opacity: .8;
}

div.topnav a {
    background-color: black;
}

.audio {
    margin: 2rem;
    display: inline-block;
}

.guide {
    margin-top: 1.5rem;
    width: 25vw;
}

caption, #description span {
    text-align: left;
    font-weight: 500;
}

#description div {
    font-size: 0.9rem;
}

p.guide {
    font-size: 1rem;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    bottom: 50vh;
    left: 35vw;
    right: 35vw;
    justify-content: center;
}

.connect {
    top: 100px;
    left: 33vw;
    right: 33vw;
}

form {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form.block {
    display: inline-block;
    padding: 1.25rem;
}

input[type="text"] {
    width: 65%;
    padding: 10px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
}

button[type="submit"] {
    background-color: #2c2d2c;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    border: 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

form h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

label, select {
    font-size: 1.1rem;
}

summary.guide, div.guide {
    width: 70vw;
    margin: 0;
    float: left;
    padding-left: 5vw;
}

td.lcard {
    vertical-align: top;
    display: flexbox;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

td a.card, #homeMapLink {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    overflow: hidden;
}

td.guide {
    display: flexbox;
    vertical-align: top;
    gap: 1rem;
    flex-wrap: wrap;
}

a.card {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    width: 13vw;
    height: 13vw;
    background-color: black;
    margin: 20px;
}

.initial {
    padding-top: 5vh;
}

summary.guide {
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid;
    margin: 0.2rem 0.2rem;
    border-radius: 10px;
    height: 75px;

}

.invisible {
    color: white;
    font-size: 2rem;
}

.categories {
    border-radius: 10px;
    text-align: center;
    fill: black;
}

#homeMapLink {
    background-color: black;
    padding: 0.4rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

summary.guide:hover, #homeMapLink:hover, button:hover, .usefulinks:hover, .professionalinks:hover {
    background-color: rgb(19, 19, 19);
    transition-duration: 500ms;
    color: white;
    cursor: pointer;
}

header {
    z-index: 9999;
    background-color: black;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    padding: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 6px 25px;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    -webkit-text-fill-color: black;
    transition-duration: 1s;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.content {
    margin-top: 60px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19.25vw;
    height: 9.25vh;
    background-color: gray;
    cursor: pointer;
}

.toggle-container .toggle-half {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.toggle-container .toggle-off {
    background-color: gray;
}

.toggle-container .toggle-on {
    background-color: green;
}

.usefulinks {
    display: flex;
    max-width: 200px;
    background: black;
    -webkit-text-fill-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
    margin: 10px;
    text-align: center;
}

.card-header {
    background-color: #f1f1f1;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.card2:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
    width: 550px;
    padding: 5px;
    word-wrap: break-word;
    margin: 0 auto;
}
iframe{
    width: 100%;
    border: 2px solid #ccc;
}

.featuredescription {
    text-align: center;
    max-width: 100%;  
}

.featureheader {
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

.professionalinks {
    display: flex;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    -webkit-text-fill-color: white;
    border-radius: 5px;
    text-align: center;
    
}